@import url(//db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);
@font-face {font-family: "Pokemon GB"; src: url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot"); 
    src: url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff2") format("woff2"),
     url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.svg#Pokemon GB") format("svg"); }
 body{
    padding:0;
    margin:0;
    background-color: rgba(0,0,0,0.7);
}

#game-navigation-area{
    width:100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbotron{
    background-color:transparent;
    margin:0 !important;
    padding-top:0 !important;
}

#game-title{
    display: flex;
    justify-content: center;
    padding:0;
}

#game-title img{
    max-width: 100%;
    height:auto !important;
}

#navigation-list{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
    max-width: 100%;
    padding-left:100px;
}




#map-link,
#myPokemon-link,
#statistics-link{
 display:inline-block;
 padding: 0.9em 1.3em;
 margin:0 0.1em 0.1em 0;
 border: 0.16em solid rgba(255,255,255,0);
 border-radius: 2em;
 box-sizing: border-box;
 text-decoration:  none;
 font-family: Pokemon GB;
 font-weight:bold;
 color: white;
 text-shadow: 0  0.04em 0.04em rgba(0,0,0,0.35);
 text-align: center;
 background-color: tomato;
 box-shadow: 0 9px #999;
}

#map-link:hover,
#myPokemon-link:hover,
#statistics-link:hover{
    background-color: #ff4d2e ;
}

#map-link:active,
#myPokemon-link:active,
#statistics-link:active {
    background-color: #ff4d2e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#game-display{
    width: 100%;
    max-width: 100%;
    height: 200vh;
}

#pokemon-map{
    width:100%;
    max-width: 100%;
    max-height: 80vh;
    height:80vh;
}

#timer-area{
    max-width: 100%;
    width: 100%;
    padding-top:40px;
}

.countdown-timer{
    display: flex;
    justify-content: center;
}

.countdown-container{
    width:50%;
    height:30vh;
    text-align: center;
    border: 3px solid white;
    box-shadow: 0 0 5px 3px #ccc;
}

.countdown-title,
.time-information{
    border: 3px solid white;
    font-size: 60px;
    font-family: Orbitron, sans-serif;
    color:white;
    padding:5px;
}

#minutes,
#seconds{
    border: 3px solid white;
}

#player-area{
    max-width: 50%;
    width: 100%;
    margin-top:40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#log-box{
        border-radius: 2px;
        padding: 8px;
        padding-top: 40px !important;
        text-align: left;
        width: 100%!important ;
        height:50vh;
        background: white;
        border: 1px solid white;
        box-shadow: 0 1px 0 1px black,
                    inset 0 1px 0 1px black,
                    0 0 0 1px black,
                    inset 0 0 0 1px black;
}

#catch-pokemon{
    width: 100% !important;
    font-family: Pokemon GB,sans-serif;
    font-weight: bold;
}

#catch-pokemon:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#pokeball-image{
    width:20px;
    height:50px;
}



@media only screen and (min-device-width:320px) and (max-device-width:415px){
    #navigation-list{
        padding-left:3px;
    }

    #map-link,
    #myPokemon-link,
    #statistics-link{
        padding: 0.6em 0.6em;
        }

    #player-area{
        max-width: 100% !important;
    }
}

